<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="99f37e">  <td>18/08/31 22:24:40</td>   <td>0</td> <td title="&gt;&gt;BaseClass.suitsetup()[pri:0, instance:callingpages.Testpages@77caeb3e]">&gt;&gt;suitsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/08/31 22:24:40</td>   <td>37</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.launchbrowser()[pri:0, instance:callingpages.Testpages@77caeb3e]">&gt;&gt;launchbrowser</td> 
<td>&nbsp;</td>  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>18/08/31 22:26:06</td>   <td>85885</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testpages.testingpage()[pri:0, instance:callingpages.Testpages@77caeb3e]">testingpage</td> 
  <td>main@1540011289</td>   <td></td> </tr>
</table>
